<p id="notice"><%= notice %></p>

<h1>Conciertos</h1>

<table>
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Lugar</th>
      <th>Fecha</th>
      <th>Público</th>
      <th>Duración</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.group_names %></td>
        <td><%= concert.place %></td>
        <td><%= concert.concert_date %></td>
        <td><%= concert.attendance %></td>
        <td><%= concert.duration %></td>
        <td><%= link_to 'Show', concert %></td>
        <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
        <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo concierto', new_concert_path %>
